.u-section-1 .u-sheet-1 {
  min-height: 177px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 60px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 211px;
}

.u-section-2 .u-text-1 {
  width: 372px;
  margin: 48px auto 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  font-size: 1.5rem;
  width: 680px;
  margin: 20px auto 48px;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 211px;
}

.u-section-3 .u-text-1 {
  width: 372px;
  margin: 48px auto 0;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  font-size: 1.5rem;
  width: 680px;
  margin: 20px auto 48px;
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 211px;
}

.u-section-4 .u-text-1 {
  width: 498px;
  margin: 48px auto 0;
}

.u-section-4 .u-text-2 {
  line-height: 1.8;
  font-size: 1.5rem;
  width: 680px;
  margin: 20px auto 48px;
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 212px;
}

.u-section-5 .u-text-1 {
  width: 498px;
  margin: 53px auto 0;
}

.u-section-5 .u-text-2 {
  line-height: 1.8;
  font-size: 1.5rem;
  width: 680px;
  margin: 15px auto 48px;
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 211px;
}

.u-section-6 .u-text-1 {
  width: 372px;
  margin: 48px auto 0;
}

.u-section-6 .u-text-2 {
  line-height: 1.8;
  font-size: 1.5rem;
  width: 680px;
  margin: 20px auto 48px;
}

@media (max-width: 767px) {
  .u-section-6 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }
}